/**
  Imported Fonts
**/

@font-face {
  font-family: HawkFront;
  src: url(fonts/hawkeye_front.ttf);
}

@font-face {
  font-family: HawkBack;
  src: url(fonts/hawkeye_back.ttf);
}

@font-face {
  font-family: ForcedSquare;
  src: url(fonts/FORCEDSQUARE.ttf);
}

/**
  Classes
**/

.backdrop 
{
  background-color: rgba(192, 192, 192, 0.4);
  text-align: center;
}

.title
{
  text-align: center;
  font-size: 52px;
}

.menu_link
{
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  max-height: 100px;
}

/**
  IDs
**/

#nav_bar
{
  margin-top: 5%;
  color: white;
  max-height: 100px;
}

#main
{
  background: url(images/concrete_wall.png);
  background-repeat: repeat;
  height: 100%;
}

#front_t
{
  color: white;
  font-family: HawkFront;
  text-align: center;
  margin-top: -82px;
}

#back_t
{
  color: black;
  font-family: HawkBack;
  text-align: center;
}

#display
{
  margin-left: 60px;
  margin-right: 60px;
  height: 400px;
  margin-top: 70px;
  color: white;
  font-size: 20px;
}

#search
{
  margin-top: 0px;
  margin-right: 60px;
  margin-left: 60px;
  height: 60px;
}

#searchText
{
  height: 50px;
  margin-top: 40px;
}

#search_t
{
  font-family: ForcedSquare;
  color: white;
  text-align: center;
  font-size: 30px;
}

#glass
{
  width: 30px;
  height: auto;
  margin-top: 4%;
}

#search_field
{
  background-color: rgba(192, 192, 192, 0.0);
  text-decoration: none;
  border: none;
  width: 100%;
  height: 80%;
  margin-left: -40%;
  font-size: 20px;
}